.hero-image {
    object-fit: cover;
    object-position: center 35%;
}

.hero-title-mask {
    -webkit-mask-image: url('/images/hero-mask.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center 35%;
    -webkit-mask-size: cover;
    -webkit-mask-mode: luminance;

    mask-image: url('/images/hero-mask.png');
    mask-repeat: no-repeat;
    mask-position: center 35%;
    mask-size: cover;
    mask-mode: luminance;
}

@media (max-width: 600px) {
    .hero-image {
        transform: scale(1.2);
    }
}